<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key] -->
    <!-- GitHub/GitLab user name or GitLab group name-->
    <add key="name1" value="JSY1728"/>
    <add key="name2" value="Koyugioh"/>
    <!-- Git repository name -->
    <add key="repo1" value="YGOPRO-Korean"/>
    <add key="repo2" value="KoCards322x433"/>
    <!-- GitLab project ID -->
    <add key="ID1" value=""/>
    <add key="ID2" value="7142307"/>
    <!-- cdb, conf, lua and pack.db file filter -->
    <add key="filter1" value="true"/>
    <add key="filter2" value="false"/>
    <!-- file save path -->
    <add key="path" value="..\"/>
    <!-- if file exitis then no download -->
    <add key="ignore1" value="Ko_YGOPro2_Updater/Ko_YGOPro2_Updater.exe"/>
    <!-- ServicePointManager.DefaultConnectionLimit -->
    <add key="ConnectionLimit" value="32"/>
  </appSettings>
</configuration>