<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key] -->
    <!-- GitHub/GitLab user name or GitLab group name-->
    <add key="name1" value="Ebert00"/>
    <add key="name2" value="Ityugioh"/>
    <!-- Git repository name -->
    <add key="repo1" value="Ygopro-ita"/>
    <add key="repo2" value="ItCards177x254"/>
    <!-- GitLab project ID -->
    <add key="ID1" value=""/>
    <add key="ID2" value="7127194"/>
    <!-- file save path -->
    <add key="path" value="..\"/>
    <!-- if file exitis then no download -->
    <add key="ignore1" value="It_YGOPro_Updater/It_YGOPro_Updater.exe"/>
    <!-- ServicePointManager.DefaultConnectionLimit -->
    <add key="ConnectionLimit" value="32"/>
  </appSettings>
</configuration>