<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key] -->
    <!-- GitHub/GitLab user name or GitLab group name-->
    <add key="name1" value="Jambalaya751955"/>
    <add key="name2" value="Jayugioh"/>
    <add key="name3" value="Jayugioh"/>
    <!-- Git repository name -->
    <add key="repo1" value="ygopro-database-JP"/>
    <add key="repo2" value="NewJaCards322x433"/>
    <add key="repo3" value="JaCards322x433"/>
    <!-- GitLab project ID -->
    <add key="ID1" value=""/>
    <add key="ID2" value="7435721"/>
    <add key="ID3" value="7449802"/>
    <!-- file save path -->
    <add key="path" value="..\"/>
    <!-- if file exitis then no download -->
    <add key="ignore1" value="Ja_YGOPro2_Updater/Ja_YGOPro2_Updater.exe"/>
    <!-- ServicePointManager.DefaultConnectionLimit -->
    <add key="ConnectionLimit" value="32"/>
  </appSettings>
</configuration>